.filtros{
    display: flex;
    margin-top: 0px;
    color: white;
    font-family: cursive;
    justify-content:center;
}

.selects{
    height: 30px;
    border-radius: 20px;
}

.indivContainer{
    margin:20px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.boton{
    display: none
}